{% extends 'layout.html' %}
{% block head %}
    <title>spoc课程数据统计图</title>
{% endblock %}
{% block users %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a href=""><img src="/static/assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
        </div>
        <div class="container-fluid">
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                            <i class="lnr lnr-alarm"></i>
                            <span class="badge bg-danger">3</span>
                        </a>
                        <ul class="dropdown-menu notifications">
                            <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>小明家长留言：今天是教师节</a>
                            </li>
                            <li><a href="#" class="notification-item"><span
                                    class="dot bg-danger"></span>小红家长留言：辛苦老师了</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-success"></span>小黑家长留言：请老师注意身体</a>
                            </li>
                            <li><a href="#" class="more">查看全部</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img
                                src="/static/assets/img/user.png" class="img-circle" alt="Avatar"> <span>{{ user }}</span> <i
                                class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="lnr lnr-user"></i> <span>修改密码</span></a></li>
                            <li><a href="{{ url_for('homework.logout') }}"><i class="lnr lnr-exit"></i> <span>退出</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block left_sidebar %}
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li><a href="{{ url_for('main.main') }}" class=""><i class="lnr lnr-home"></i> <span>首页</span></a></li>
                    <li>
							<a href="#subPages1" data-toggle="collapse" class="collapsed"><i class="lnr lnr-map"></i> <span>数据分析</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages1" class="collapse ">
								<ul class="nav">
									<li><a href="{{ url_for('spoc.spoc_analysis_list') }}" class="">spoc学习数据统计</a></li>
                                    <li><a href="{{ url_for('course.course_analysis_list') }}" class="">spoc课程数据统计</a></li>
                                    <li><a href="{{ url_for('homework.homework_analysis_list') }}" class="">作业</a></li>
                                    <li><a href="{{ url_for('test.test_analysis_list') }}" class="">测试</a></li>
                                    <li><a href="{{ url_for('student.students_analysis') }}" class="">学生成绩统计</a></li>
								</ul>
							</div>
                    </li>
                    <li>
							<a href="#subPages2" data-toggle="collapse" class="collapsed"><i class="lnr lnr-code"></i> <span>数据对比</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages2" class="collapse ">
								<ul class="nav">
									<li><a href="{{ url_for('spoc.spoc_list_compare') }}" class="">spoc数据</a></li>
                                    <li><a href="{{ url_for('homework.homework_list_compare') }}" class="">作业</a></li>
                                    <li><a href="{{ url_for('test.test_list_compare') }}" class="">测试</a></li>
								</ul>
							</div>
                    </li>
                    <li>
							<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>数据管理</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse ">
								<ul class="nav">
									<li><a href="{{ url_for('student.students_list') }}" class="">学生管理</a></li>
									<li><a href="{{ url_for('spoc.spoc_list') }}" class="">spoc学习数据统计</a></li>
                                    <li><a href="{{ url_for('course.course_list') }}" class="">spoc课程数据</a></li>
                                    <li><a href="{{ url_for('homework.homework_list') }}" class="">作业</a></li>
                                    <li><a href="{{ url_for('test.test_list') }}" class="">测试</a></li>
								</ul>
							</div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
{% block main %}
    <div class="main">
        <div class="main-content">
            <div class="container-fluid">
            <ol class="breadcrumb text-left">
                <li>
                    <a href="{{ url_for('course.course_analysis_list') }}">
                        <i class="fa fa-home" aria-hidden="true"></i>spoc课程列表
                    </a>
                </li>
            </ol>
                {% for t in test %}
                <div class="col-md-5">
                    <div class="panel">
                        <div id="main1{{ t[0] }}" style="width: 600px;height:400px;"></div>
                    </div>
                </div>
                {% endfor %}
                {% for t in homework %}
                <div class="col-md-5">
                    <div class="panel">
                        <div id="main2{{ t[0] }}" style="width: 600px;height:400px;"></div>
                    </div>
                </div>
                {% endfor %}
                {% for t in exam %}
                <div class="col-md-5">
                    <div class="panel">
                        <div id="main3{{ t[0] }}" style="width: 600px;height:400px;"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        {% for t in test %}
                var myChart1 = echarts.init(document.getElementById('main1{{ t[0] }}'));
                option = {
                                    title: {
                    text: '每周测验平均成绩'
                },
            color: ['#3398DB'],
            tooltip : {
                trigger: 'axis',
                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis : [
                {
                    type : 'category',
                    data : ['第一周', '第二周', '第三周', '第四周', '第五周', '第六周'],
                    axisTick: {
                        alignWithLabel: true
                    }
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'平均成绩',
                    type:'line',
                    barWidth: '60%',
                    data:[{{ t[1] }}, {{ t[2] }}, {{ t[3] }}, {{ t[4] }}, {{ t[5] }}, {{ t[6] }}]
                }
            ]
        };
        myChart1.setOption(option);
        {% endfor %}
        {% for t in homework %}
                var myChart2 = echarts.init(document.getElementById('main2{{ t[0] }}'));
                option = {
                                    title: {
                    text: '每周作业平均成绩'
                },
            color: ['#db0a10'],
            tooltip : {
                trigger: 'axis',
                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis : [
                {
                    type : 'category',
                    data : ['第一周', '第二周', '第三周', '第四周', '第五周', '第六周'],
                    axisTick: {
                        alignWithLabel: true
                    }
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'平均成绩',
                    type:'line',
                    barWidth: '60%',
                    data:[{{ t[1] }}, {{ t[2] }}, {{ t[3] }}, {{ t[4] }}, {{ t[5] }}, {{ t[6] }}]
                }
            ]
        };
        myChart2.setOption(option);
        {% endfor %}
        {% for t in exam %}
                var myChart3 = echarts.init(document.getElementById('main3{{ t[0] }}'));
                option = {
                                    title: {
                    text: '考试平均成绩'
                },
            color: ['#db0496'],
            tooltip : {
                trigger: 'axis',
                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis : [
                {
                    type : 'category',
                    data : ['第一次月考', '期中测试', '第二次月考', '期末测试'],
                    axisTick: {
                        alignWithLabel: true
                    }
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'平均成绩',
                    type:'line',
                    barWidth: '60%',
                    data:[{{ t[1] }}, {{ t[2] }}, {{ t[3] }}, {{ t[4] }}]
                }
            ]
        };
        myChart3.setOption(option);
        {% endfor %}
    </script>
{% endblock %}