{% extends 'layout.html' %}
{% block head %}
    <title>spoc</title>
{% endblock %}
{% block users %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a href=""><img src="/static/assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
        </div>
        <div class="container-fluid">
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                            <i class="lnr lnr-alarm"></i>
                            <span class="badge bg-danger">3</span>
                        </a>
                        <ul class="dropdown-menu notifications">
                            <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>小明家长留言：今天是教师节</a>
                            </li>
                            <li><a href="#" class="notification-item"><span
                                    class="dot bg-danger"></span>小红家长留言：辛苦老师了</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-success"></span>小黑家长留言：请老师注意身体</a>
                            </li>
                            <li><a href="#" class="more">查看全部</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img
                                src="/static/assets/img/user.png" class="img-circle" alt="Avatar"> <span></span> <i
                                class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="lnr lnr-user"></i> <span>修改密码</span></a></li>
                            <li><a href="{{ url_for('spoc.logout') }}"><i class="lnr lnr-exit"></i> <span>退出</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block left_sidebar %}
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li><a href="{{ url_for('main.main') }}" class="active"><i class="lnr lnr-home"></i> <span>首页</span></a></li>
                    <li>
							<a href="#subPages1" data-toggle="collapse" class="collapsed"><i class="lnr lnr-map"></i> <span>数据分析</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages1" class="collapse ">
								<ul class="nav">
									<li><a href="{{ url_for('spoc.spoc_analysis_list') }}" class="">spoc学习数据统计</a></li>
                                    <li><a href="{{ url_for('course.course_analysis_list') }}" class="">spoc课程数据统计</a></li>
                                    <li><a href="{{ url_for('homework.homework_analysis_list') }}" class="">作业</a></li>
                                    <li><a href="{{ url_for('test.test_analysis_list') }}" class="">测试</a></li>
                                    <li><a href="{{ url_for('student.students_analysis') }}" class="">学生成绩统计</a></li>
								</ul>
							</div>
                    </li>
                    <li>
							<a href="#subPages2" data-toggle="collapse" class="collapsed"><i class="lnr lnr-code"></i> <span>数据对比</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages2" class="collapse ">
								<ul class="nav">
									<li><a href="{{ url_for('spoc.spoc_list_compare') }}" class="">spoc数据</a></li>
                                    <li><a href="{{ url_for('homework.homework_list_compare') }}" class="">作业</a></li>
                                    <li><a href="{{ url_for('test.test_list_compare') }}" class="">测试</a></li>
								</ul>
							</div>
                    </li>
                    <li>
							<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>数据管理</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse ">
								<ul class="nav">
									<li><a href="{{ url_for('student.students_list') }}" class="">学生管理</a></li>
									<li><a href="{{ url_for('spoc.spoc_list') }}" class="">spoc学习数据统计</a></li>
                                    <li><a href="{{ url_for('course.course_list') }}" class="">spoc课程数据</a></li>
                                    <li><a href="{{ url_for('homework.homework_list') }}" class="">作业</a></li>
                                    <li><a href="{{ url_for('test.test_list') }}" class="">测试</a></li>
								</ul>
							</div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
{% block main %}
    <div class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="page-title">{{ name }}{{ word }}</h3>
                                <a class="btn btn-primary" href="javascript:history.go(-1)">返回</a>
                                <a href="{{ url_for('spoc.spoc_detail_export', name=name, num=num) }}">导出数据</a>
                            </div>
                            <div class="panel-body no-padding">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>学号</th>
                                        <th>姓名</th>
                                        <th>spoc成绩</th>
                                        <th>视频观看个数</th>
                                        <th>视频观看次数</th>
                                        <th>视频观看时长</th>
                                        <th>讨论区主题数</th>
                                        <th>讨论区评论数+回复数</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for s in datas %}
                                    <tr>
                                        <td>{{ s[0] }}</td>
                                        <td>{{ s[1] }}</td>
                                        <td>{{ s[2].spoc_score }}</td>
                                        <td>{{ s[2].look_one_num }}</td>
                                        <td>{{ s[2].look_times_num }}</td>
                                        <td>{{ s[2].look_sum_time }}</td>
                                        <td>{{ s[2].titles }}</td>
                                        <td>{{ s[2].reviews_reply }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
    </script>
{% endblock %}