{% extends 'layout.html' %}
{% block head %}
    <title>spoc</title>
{% endblock %}
{% block users %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a href=""><img src="/static/assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
        </div>
        <div class="container-fluid">
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                            <i class="lnr lnr-alarm"></i>
                            <span class="badge bg-danger">3</span>
                        </a>
                        <ul class="dropdown-menu notifications">
                            <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>小明家长留言：今天是教师节</a>
                            </li>
                            <li><a href="#" class="notification-item"><span
                                    class="dot bg-danger"></span>小红家长留言：辛苦老师了</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-success"></span>小黑家长留言：请老师注意身体</a>
                            </li>
                            <li><a href="#" class="more">查看全部</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img
                                src="/static/assets/img/user.png" class="img-circle" alt="Avatar"> <span></span> <i
                                class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="lnr lnr-user"></i> <span>修改密码</span></a></li>
                            <li><a href="{{ url_for('spoc.logout') }}"><i class="lnr lnr-exit"></i> <span>退出</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block left_sidebar %}
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li><a href="{{ url_for('main.main') }}" class="active"><i class="lnr lnr-home"></i> <span>首页</span></a></li>
                    <li>
							<a href="#subPages1" data-toggle="collapse" class="collapsed"><i class="lnr lnr-map"></i> <span>数据分析</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages1" class="collapse ">
								<ul class="nav">
									<li><a href="{{ url_for('spoc.spoc_analysis_list') }}" class="">spoc学习数据统计</a></li>
                                    <li><a href="{{ url_for('course.course_analysis_list') }}" class="">spoc课程数据统计</a></li>
                                    <li><a href="{{ url_for('homework.homework_analysis_list') }}" class="">作业</a></li>
                                    <li><a href="{{ url_for('test.test_analysis_list') }}" class="">测试</a></li>
                                    <li><a href="{{ url_for('student.students_analysis') }}" class="">学生成绩统计</a></li>
								</ul>
							</div>
                    </li>
                    <li>
							<a href="#subPages2" data-toggle="collapse" class="collapsed"><i class="lnr lnr-code"></i> <span>数据对比</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages2" class="collapse ">
								<ul class="nav">
									<li><a href="{{ url_for('spoc.spoc_list_compare') }}" class="">spoc数据</a></li>
                                    <li><a href="{{ url_for('homework.homework_list_compare') }}" class="">作业</a></li>
                                    <li><a href="{{ url_for('test.test_list_compare') }}" class="">测试</a></li>
								</ul>
							</div>
                    </li>
                    <li>
							<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>数据管理</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse ">
								<ul class="nav">
									<li><a href="{{ url_for('student.students_list') }}" class="">学生管理</a></li>
									<li><a href="{{ url_for('spoc.spoc_list') }}" class="">spoc学习数据统计</a></li>
                                    <li><a href="{{ url_for('course.course_list') }}" class="">spoc课程数据</a></li>
                                    <li><a href="{{ url_for('homework.homework_list') }}" class="">作业</a></li>
                                    <li><a href="{{ url_for('test.test_list') }}" class="">测试</a></li>
								</ul>
							</div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
{% block main %}
    <div class="main">
        <div class="main-content">
            <div class="container-fluid">
            <ol class="breadcrumb text-left">
                <li>
                    <a href="{{ url_for('spoc.spoc_analysis_list') }}">
                        <i class="fa fa-home" aria-hidden="true"></i>spoc成绩
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('spoc.spoc_analysis', name=name) }}">
                        <i class="fa fa-apple" aria-hidden="true"></i>详情
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-beer" aria-hidden="true"></i>列表
                    </a>
                </li>
            </ol>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ name }}</h3>
                                <div class="right">
                                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i>
                                    </button>
                                    <a href="javascript:history.go(-1)">
                                        <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form class="form-inline" role="form" method="GET">
                                    <select class="form-control" style="width:300px;" id="standard" name="standard">
                                        <option value="null">---请选择标准---</option>
                                        <option value="1">平均分</option>
                                        <option value="2">中位数</option>
									</select>
                                    <button type="submit" class="btn btn-primary" title="无条件">设置</button>
                                    {% if stu != None %}
                                        <a class="btn btn-primary"
                                           href="{{ url_for('spoc.spoc_tree_export', name=name, standard=standard) }}">
                                            分析
                                        </a>
                                    {% endif %}
                                </form>
                            </div>
                            <div class="panel-body no-padding">
                                <table class="table table-striped">
                                {% if stu == None %}
                                    <thead>
                                    <tr>
                                        <th>学号</th>
                                        <th>姓名</th>
                                        <th>spoc成绩</th>
                                        <th>视频观看个数</th>
                                        <th>视频观看时长</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for s in students %}
                                    <tr>
                                        <td>{{ s[0] }}</td>
                                        <td>{{ s[1] }}</td>
                                        <td>{{ s[2].spoc_score }}</td>
                                        <td>{{ s[2].look_one_num }}</td>
                                        <td>{{ s[2].look_sum_time }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                {% else %}
                                    <thead>
                                    <tr>
                                        <th>学号</th>
                                        <th>姓名</th>
                                        <th>spoc成绩</th>
                                        <th></th>
                                        <th>视频观看个数</th>
                                        <th></th>
                                        <th>视频观看时长</th>
                                        <th></th>
                                        <th>等级</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for s in stu %}
                                    <tr>
                                        <td>{{ s[0] }}</td>
                                        <td>{{ s[1] }}</td>
                                        <td>{{ s[2] }}</td>
                                        <td><a style="color:red">{{ s[3] }}</a></td>
                                        <td>{{ s[4] }}</td>
                                        <td><a style="color:red">{{ s[5] }}</a></td>
                                        <td>{{ s[6] }}</td>
                                        <td><a style="color:red">{{ s[7] }}</a></td>
                                        <td><a style="color:green">{{ s[8] }}</a></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
    </script>
{% endblock %}